release_results/
civitai_models/
gradio_cached_examples/
outputs/
__pycache__/
.idea/
*.bin
*.safetensors
datasets/*
pretrain_model/*
examples/*
checkpoints*
*.zip
sh_checkpoints/*
outputs_bak/*
outputs_seed/*
outputs_final/*
eval/RAFT/models/*