torch
diffusers>=0.28.2
transformers>=4.44.0
huggingface-hub
spaces
numpy
accelerate
safetensors
omegaconf
insightface
peft
gradio
einops
deepspeed
onnxruntime-gpu==1.15.1
decord
opencv-python
deepspeed