torch
diffusers==0.30.3
transformers==4.46.3
huggingface-hub
spaces
numpy
accelerate
safetensors
omegaconf
insightface
peft
gradio
einops
deepspeed
onnxruntime-gpu==1.15.1
decord
opencv-python
deepspeed
easydict