torch
diffusers==0.28.2
transformers==4.44.0
huggingface-hub
spaces
numpy
accelerate
safetensors
omegaconf
insightface
peft
gradio
einops
deepspeed
onnxruntime-gpu
decord
opencv-python==4.8.0.76